<p>Tom's birthday is <strong>{{birthday}}</strong> no pipe</p>
<hr>
<p>Tom's birthday is <strong>{{birthday | date}}</strong> pipe: <strong>date</strong></p>
<hr>
<p>Tom's birthday is <strong>{{birthday | date:"MM/dd/yy"}}</strong> pipe: <strong>date:"MM/dd/yy"</strong></p>
<hr>
<p>Tom's birthday is <strong>{{birthday | date:"MM/dd/yyyy"}}</strong> pipe: <strong>date:"MM/dd/yyyy"</strong></p>
<hr>
<p>Tom's birthday is <strong>{{birthday | date:"dd/MM/yy"}}</strong> pipe: <strong>date:"dd/MM/yy"</strong></p>
<hr>
<p>Tom's birthday is <strong>{{birthday | date:"yyyy/MM/dd"}}</strong> pipe: <strong>date:"yyyy/MM/dd"</strong></p>
<hr>


