<!-- <table>
  <thead>
    <th>Title</th>
    <th>Pipe name</th>
    <th>Result</th>
  </thead>
  <tbody>
    <tr>
      <td  style="width: 25%">{{title}}</td>
      <td  style="width: 25%">uppercase</td>
      <td  style="width: 25%">{{title | uppercase}}</td>
    </tr>
    <tr>
      <td  style="width: 25%">{{title}}</td>
      <td  style="width: 25%">lowercase</td>
      <td  style="width: 25%">{{title | lowercase}}</td>
    </tr>
    <tr>
      <td  style="width: 25%">{{today}}</td>
      <td  style="width: 25%">date</td>
      <td  style="width: 25%">{{today | date}}</td>
    </tr>
    <tr>
      <td  style="width: 25%">123.45</td>
      <td  style="width: 25%">currency</td>
      <td  style="width: 25%">{{123.45 | currency:"USD"}}</td>
    </tr>
    <tr>
      <td  style="width: 25%">1234.56789</td>
      <td  style="width: 25%">number</td>
      <td  style="width: 25%">{{1234.56789 | number:"3.2-2"}}</td>
    </tr>
    <tr>
      <td  style="width: 25%">0.34</td>
      <td  style="width: 25%">percent</td>
      <td  style="width: 25%">{{0.34 | percent}}</td>
    </tr>
    <tr>
      <td  style="width: 25%">{{months}}</td>
      <td  style="width: 25%">slice</td>
      <td  style="width: 25%">{{months | slice:2:6}}</td>
    </tr>
    <tr>
      <td  style="width: 25%">{{jsonval}}</td>
      <td  style="width: 25%">json</td>
      <td  style="width: 25%">{{jsonval | json}}</td>
    </tr>
  </tbody>
</table> -->
<router-outlet></router-outlet>